<!DOCTYPE html>
<html>
	<head>
	<title></title>
	</head>
<body>
	<form name="the form">
		Full Name: <input name="name" type="text"> 
		Email: <input name="email" type="email"> 
		Message: <input name="message" type="text">
		<input name="submit" type="submit" value="Submit">
	</form>
</body>
</html>